name: Build Project

on:
  push:
    branches: [ main, everything, no-module-info ]
  pull_request:
    branches: [ main, everything, no-module-info ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v5
      - uses: testlens-app/setup-testlens@v1.4.0
      - name: Gradle
        run: ./gradlew build
